<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
    <link href="~/MyStyle/style.css" rel="stylesheet" />
    <link href="~/MyStyle/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/MyStyle/fonts/lineo-icon/style.css" rel="stylesheet" />



</head>

<body>
    <div class="hero hero-slider">
        <ul class="slides">
            <li data-bg-image="MyStyle/dummy/slide-1.jpg">
                <div class="container">
                    <div class="slide-content">
                        <h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt natus reprehenderit debitis fugit.</p>
                        <a href="#" class="button">Get a quote</a>
                    </div>
                </div>
            </li>
            <li data-bg-image="MyStyle/dummy/slide-2.jpg">
                <div class="container">
                    <div class="slide-content">
                        <h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt natus reprehenderit debitis fugit.</p>
                        <a href="#" class="button">Get a quote</a>
                    </div>
                </div>
            </li>
            <li data-bg-image="MyStyle/dummy/slide-3.jpg">
                <div class="container">
                    <div class="slide-content">
                        <h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt natus reprehenderit debitis fugit.</p>
                        <a href="#" class="button">Get a quote</a>
                    </div>
                </div>
            </li>
        </ul>
    </div> <!-- .hero-slider -->

    <main class="main-content">
        <div class="fullwidth-block greet-section">
            <div class="container">
                <h2 class="section-title">Welcome to our website</h2>
                <small class="section-subtitle">Etiam suscipit leo tincidunt risus dignissim quisque semper mollis</small>

                <div class="row">
                    <div class="col-md-3">
                        <div class="feature">
                            <i class="icon-phone-24"></i>
                            <h3 class="feature-title">24 hours Service</h3>
                            <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature">
                            <i class="icon-hotel"></i>
                            <h3 class="feature-title">Hospitality</h3>
                            <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature">
                            <i class="icon-luggage"></i>
                            <h3 class="feature-title">Praesent pellentesque </h3>
                            <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature">
                            <i class="icon-credit-card-hand"></i>
                            <h3 class="feature-title">Consectetur interdum</h3>
                            <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</p>
                        </div>
                    </div>
                </div> <!-- .row -->

                <div class="text-center">
                    <p>Sollicitudin sit tortor pellentesque. <a href="#">Read more</a></p>
                </div>
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main>

    @section MyStyle {
        @Scripts.Render("~/bundles/app")
    }
    


</body>

</html>